@import "../../mixins.scss";

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    padding: 10px;

    

    .authcontainer {
        border-radius: 10%;
        background-color: #000;
        width: 90%;
        min-height: 515px;
        display: flex;
        align-items: center;
        position: relative;
        bottom: 0;

        @include ssm {
            width: 70%;
        }

        @include sm {
            width: 50%;
        }

        @include md {
            width: 35%;
        }

        .authBody {
            color: #fff;
            border-radius: 4px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0;
            padding: 20px 0 30px;
            width: 100%;
           



            .authBodySwapButton {
                 width: 90%;
                display: flex;
                justify-content: space-between;

                button {
                    width: 40%;
                    text-align: center;
                    color: #fff;
                    background-color: red;
                    border: 1px solid red;
                    border-radius: 20px;
                    padding: 10px 10px;
                    cursor: pointer;
                    @include sm {
                        width: 30%;
                    }
                }
               


            }

            .mainheading {
                text-align: center;
                text-transform: uppercase;
                font-size: 1rem;
                @include sm {
                    font-size: 2rem;
                }
        
            }
            .withgoogle {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border-radius: 2rem;
                margin: .5rem 0;
                padding: 1rem;
                color: #000;
                cursor: pointer;
                width: 100%;
                flex-direction: row;
                font-size: .9rem;

                .googleLogo {
                    color: #233067;
                }
                @include ssm {
                    font-size: 1rem;
                }
             
                @include lg {
                    font-size: 1.5rem;
                }
            }

        

            .my-form-control {
                background-color: #333;
                border: 0;
                border-radius: 4px;
                color: #fff;
                height: 50px;
                line-height: 50px;
                padding: 16px 20px 0;
                width: 100%;
                margin: 1.5rem 0;
            }
.error{
    color:red;
    font-size: 1rem;
}
            .custom-button {
                height: 3rem;
                width: 100%;
                border-radius: 4px;
                font-size: 16px;
                font-weight: 500;
                margin: 24px 0 12px;
                background-color: red;
                color: #fff;
            }
        }
    }


}